body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: rgb(203, 240, 140);
  display: flex;
  
}

.regDiv{
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  margin-top: 7%;
  width: 75%;
  box-shadow: 0 4px 4px 0 rgb(203, 240, 140), 0 6px 20px 0 rgb(203, 240, 140);
  background-color: white;
  text-align: center;
}
.regHead{
  font-size: x-large;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(203, 240, 140);
  border-radius: 4px;
  box-sizing: border-box;
}

.add{
  border-radius: 4px;

  background-color: white;
  color: black;
  border: 2px solid rgb(203, 240, 140);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.reset:hover, .showtemp:hover, .resettemp:hover, .show:hover {
  background-color: rgb(203, 240, 140);
  color: white;
}

.reset, .show{
  border-radius: 4px;

  background-color: white;
  color: black;
  border: 2px solid rgb(203, 240, 140);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add:hover{
  background-color: rgb(203, 240, 140);
  color: white;
}

.regDisplay {
  font-size: large;
  margin-top: 5%;
}
.radioBtns{
  margin: 2%;
}
.warn {
  color: red;
  font-weight: bold;
}
.errorMessage, .errorMessage2 {
  color: red;
  font-weight: bold;

}
.listFormat {
  padding: 0 0 0 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.listItems {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  background-color : #f5b342;
  border: solid black 2px;
  border-radius : 4px;
  font-weight : bold;
  text-align : center;
  width: 15%;
}
.count{
  font-weight: bold;
}
@media (max-width:447px){
  .regHead{
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  .listItems {
    width: auto;
    
  }
}